*{
  box-sizing: border-box;
}


.actualCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  margin-left: 25%;
  max-width: 50%;
  background-color: rgb(11, 141, 216);
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 100px;
}

.cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.thisIsCart {
  margin-top: 35px;
  margin-bottom: 25px;
}

.emptyCart {
  margin-top: 20px;
  margin-bottom: 50px;
}

.total {
  margin-bottom: 50px;
}

.paymentOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
