* {
  box-sizing: border-box;
}

.title,
.testTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item {
  width: 25%;
}
<<<<<<< HEAD
=======

>>>>>>> 21018cec6bb70fcdc905c9ce220ad2c376929ead
