.loginPage {
  margin: 5px;
  padding: 10px;
}

.loginSection {
  margin: 10%;
  padding: 10%;
  background-color: rgb(141, 182, 216);
  border-radius: 10px;
}

.emailText,
.passwordText {
  padding-bottom: 10px;
}

.emailInput {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.passwordInput {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.loginButton {
  margin-bottom: 25px;
}
