.signUpSection {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  background-color: rgb(11, 141, 216);
}

.emailInput,
.passwordInput {
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
}

.passwordInput {
  margin-bottom: 25px;
}

.signUpButton {
  margin-bottom: 25px;
}

.googleSignUp {
  margin-bottom: 25px;
}
