.App {
  font-family: Roboto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  min-height: 10vh;
  background-color: rgb(11, 141, 216);
  list-style: none;
}
